body {
    margin: 60px auto;
    width: 70%;
     background: url("http://weknowyourdreams.com/images/dragon/dragon-06.jpg") no-repeat top center;
    background-size: cover;
    background-attachment:fixed;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    border:10px solid red;
    background-color:black;
    Color: LightBlue;
    font-size: 3em;
    font-family:''Arial', 'Sans-Serif';
    
}
h2{

    font-size: 50px;
    font-family: Times New Roman;
    Color:Red;
}
h3 {Color:Purple;
    font-size: 50px;
    font-family: Times New Roman;
}
p {
    border:10px solid red;
    background-color:black;
    font-family: Georgia, Garamond, serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color:LightBlue;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    border-style:solid;
}
ul.posts li {
    list-style: none;
}
ol{
   
    Font-size: 58px;
    color:yellow;
}
table{
    font-size: 60px;
    color: Red;
     border:10px solid Yellow;
    
}
.other{
    color:Red;
    
}
    
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: skyblue;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
